/* Universal box-sizing property to include borders in element dimensions */
* {
  box-sizing: border-box;
}

/* Define global color variables for easy color management */
:root {
  --primary: white;
  /* Primary text color */
  --secondary: #3F704D;
  /* Secondary background color */
  --tertiary: #3A4C40;
  /* Tertiary text color */
}

/* Style the body element */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--secondary);
  /* Use the secondary background color */
}

/* Reset margins for heading elements (h1, h2, h3, h4, h5, h6) and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Style the header containing navigation */
header {
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--primary);
  /* Text color using primary variable */
  background-color: var(--secondary);
  /* Background color using secondary variable */
  padding-left: 130px;
}

/* Style the navigation links */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  padding: 20px;
  color: var(--primary);
  /* Text color using primary variable */
  margin-right: 10px;
  font-size: 20px;
}

nav a:hover {
  color: aqua;
  /* Change link color on hover */
}

/* Style the hero banner section */
.hero-banner {
  background: url(/images/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

/* Style the h2 element within the hero banner */
.hero-banner h2 {
  font-size: 50px;
  color: black;
  /* Set font size and color */
}

/* Style the main page wrapper */
.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  /* Background color using secondary variable */
}

/* Style page sections */
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  color: var(--primary);
  /* Text color using primary variable */
  background-color: var(--secondary);
  /* Background color using secondary variable */
}

/* Style the h2 element within page sections */
.page-section>h2 {
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  /* Right border with primary color */
  font-size: 3vw;
  line-height: 1.1;
  flex: 0 0 20%;
}

.page-section>div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
  margin-left: 20px;
}

/* Style for flex containers */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* Style for flex items, e.g., .flex-item-refactor */
.flex-item-refactor {
  border: 5px solid var(--primary);
  background-color: var(--secondary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  font-size: 1rem;
  min-height: 400px;
  flex-basis: 100%;
  background-image: url(/images/Horiseon.jpg);
  background-size: cover;
  text-decoration: none;
  padding-left: 5px;
}

/* Styling for the small box in each Work project */
.refactor {
background-color: var(--tertiary);
color: var(--primary);
border: 4px white solid;
border-bottom: none;
position: absolute;
padding: 1rem;
margin-left: -9px;
}

.flex-item-calculator {
  border: 5px solid var(--primary);
  background-color: var(--secondary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  font-size: 1rem;
  background-image: url(/images/02-portfolio-2.jpg);
  text-decoration: none;
  padding-left: 5px;
}

.calculator {
  background-color: var(--tertiary);
  color: var(--primary);
  border: 4px white solid;
  border-bottom: none;
  position: absolute;
  padding: 1rem;
  margin-left: -9px;
  }

.flex-item-comingsoon {
  border: 5px solid var(--primary);
  background-color: var(--secondary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  font-size: 1rem;
  background-image: url(/images/02-portfolio-3.jpg);
  text-decoration: none;
  padding-left: 5px;
}

.comingsoon {
  background-color: var(--tertiary);
  color: var(--primary);
  border: 4px white solid;
  border-bottom: none;
  position: absolute;
  padding: 1rem;
  margin-left: -9px;
  }

  .flex-item-comingsoon2 {
  border: 5px solid var(--primary);
  background-color: var(--secondary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  font-size: 1rem;
  background-image: url(/images/02-portfolio-1.jpg);
  text-decoration: none;
  padding-left: 5px;
}

.comingsoon2 {
  background-color: var(--tertiary);
  color: var(--primary);
  border: 4px white solid;
  border-bottom: none;
  position: absolute;
  padding: 1rem;
  margin-left: -9px;
  }

.flex-item-comingsoon3 {
  border: 5px solid var(--primary);
  background-color: var(--secondary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  font-size: 1rem;
  background-image: url(/images/02-run-buddy.jpg);
  background-size: 700px;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 5px;
}

.comingsoon3 {
  background-color: var(--tertiary);
  color: var(--primary);
  border: 4px white solid;
  border-bottom: none;
  position: absolute;
  padding: 1rem;
  margin-left: -9px;
  }

/* Style contact information within the address tag */
.contact address a {
  color: var(--primary);
  /* Text color using primary variable */
  padding: 5px;
  font-style: normal;
  margin: 1.2rem;
}

.contact address a:hover {
  color: aqua;
  /* Change link color on hover */
}


/* Media query for screens with max-width: 768px */
@media screen and (max-width: 768px) {

  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  .page-section>h2 {
    font-size: 1.3rem;
    border-right: 0;
    border-bottom: 4px solid var(--primary);
    /* Add a bottom border */
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .page-section div p {
    font-size: 1rem;
    text-align: left;
    margin-left: 0;
  }

  .page-section {
    flex-direction: column;
  }

  .flex-item {
    flex-basis: 100%;
  }

  .hero-banner {
    justify-content: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-container {
    flex-direction: column;
  }

  .contact address a {
    font-size: 4vw;
    /* Adjust font size for smaller screens */
    display: block;
    width: 100%;
    margin-left: 0;
  }
}